<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/login.css"/>
		<script type="text/javascript" src="__STATIC__/index/js/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="__STATIC__/index/js/commom.js"></script>
		<script type="text/javascript" src="__STATIC__/index/js/login.js"></script>
		<script type="text/javascript">
			var requestUrii = "{|U:'Index/ajaxGetCart'}";
		</script>
	</head>
	<body>
		<include file='__VIEW__/commom/header.html'/>
		<!--登录开始-->
		<div class="loginAll">
			<div class="loginAd">
				<img src="__STATIC__/index/images/banner1.jpg" alt="" />
			</div>
			<div class="loginContent">
				<div class="loginLeft">
					<img src="__STATIC__/index/images/410-290.png"/>
				</div>
				<div class="loginRight">
					<div class="loginForm">
						<h3>用户登录</h3>
						<div class="inputSome">
							<form action="{|U:'Login/login'}" method="post">
								<p>	<span>邮箱：</span><input type="text" name="email" placeholder="请填邮箱"/></p>
								<p>	<span>密码：</span><input type="password" name="password" /></p>
								<p class="submitP">	<span></span><input type="submit"  class="submit" value="立即登录"/>
									<!--<input type="checkbox" value="1" name="" class="checkbox"/><span class="save">
	保存登录信息 </span>--></p>
							</form>
								<p class="toRegister"><a href="{|U:'Register/register'}" class="register" >注册</a>| <a href="">忘记密码？</a></p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--登录结束-->
		<!--尾部开始-->
		<include file="__VIEW__/commom/bottom.html"/>
		<!--尾部结束-->
	</body>
		