#checkoutAll {
  width: 100%;
}
#checkoutAll .checkoutHeader {
  width: 990px;
  height: 46px;
  margin: 0 auto;
  margin-top: 30px;
}
#checkoutAll .checkoutHeader .headerLeft {
  width: 200px;
  height: 57px;
  display: block;
  float: left;
  background: url(../images/cart_img1.png) no-repeat 0px -4px;
}
#checkoutAll .checkoutHeader .headerRight {
  width: 700px;
  height: 31px;
  float: right;
  margin-top: 10px;
  background: url(../images/cart_img.png) no-repeat -15px -138px;
}
#checkoutAll .checkoutContent {
  width: 990px;
  height: 0px;
  margin: 30px auto;
}
#checkoutAll .checkoutContent .checkoutContentIn {
  width: 992px;
  height: 750px;
  border: 1px solid #D8D8D8;
}
#checkoutAll .checkoutContent .checkoutContentIn .checkoutTitle {
  width: 990px;
  height: 35px;
  background: #D8D7D7;
  font-family: "Microsoft YaHei", Tahoma, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 35px;
  text-indent: 5px;
}
#checkoutAll .checkoutContent .checkoutContentIn .userInfo {
  width: 989px;
  height: 210px;
  border-bottom: 1px solid #D8D8D8;
}
#checkoutAll .checkoutContent .checkoutContentIn .userInfo h3 {
  font-family: "Microsoft YaHei", Tahoma, Helvetica, sans-serif;
  color: #444;
  font-size: 15px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  width: 985.05px;
}
#checkoutAll .checkoutContent .checkoutContentIn .userInfo ul {
  padding: 5px;
  width: 237px;
  height: 106px;
  float: left;
}
.selectedAddress {
  background: url(../images/select_address.png) no-repeat 0 0;
}
#checkoutAll .checkoutContent .checkoutContentIn .userInfo ul li {
  margin: 5px;
  margin-top: 15px;
  float: left;
}
#checkoutAll .checkoutContent .checkoutContentIn .shop_shopping {
  width: 985px;
  border-bottom: 1px solid #D8D8D8;
}
#checkoutAll .checkoutContent .checkoutContentIn .shop_shopping h3 {
  text-indent: 10px;
  width: 985.05px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  font-family: "Microsoft YaHei", Tahoma, Helvetica, sans-serif;
  color: #444;
  float: left;
}
#checkoutAll .checkoutContent .checkoutContentIn .shop_shopping h3 .modify {
  color: #C70A28;
  cursor: pointer;
  font-family: "Microsoft YaHei", Tahoma, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 20px;
  text-indent: 10px;
}
#checkoutAll .checkoutContent .checkoutContentIn .shop_shopping h3 .nitice {
  text-indent: 10px;
  font-weight: 500;
  line-height: 30px;
  font-size: 13px;
  font-family: "Microsoft YaHei", Tahoma, Helvetica, sans-serif;
  color: #C70A28;
}
#checkoutAll .checkoutContent .checkoutContentIn .shop_shopping .shopping_order_currentinfo p {
  color: #444;
  float: left;
  font-family: "宋体";
  font-size: 12px;
  height: 30px;
  line-height: 26px;
  width: 788.033px;
  text-indent: 15px;
}
#checkoutAll .checkoutContent .checkoutContentIn .shop_shopping .shopping_order_currentinfo p span {
  margin-left: 15px;
}
#checkoutAll .checkoutContent .checkoutContentIn .shopList {
  width: 985px;
  height: 200px;
}
#checkoutAll .checkoutContent .checkoutContentIn .shopList h3 {
  color: #444;
  font-family: "Microsoft YaHei", Tahoma, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  width: 940.5px;
}
#checkoutAll .checkoutContent .checkoutContentIn .shopList .goodsattr {
  width: 960px;
  height: 30px;
  background: url(../images/cartbar2.png) no-repeat 0 0;
  margin: 0 auto;
}
#checkoutAll .checkoutContent .checkoutContentIn .shopList .goodsattr ul li {
  float: left;
  font-family: "Microsoft YaHei";
  font-size: 13px;
  line-height: 36px;
  text-align: center;
}
#checkoutAll .checkoutContent .checkoutContentIn .shopList .goodsValue {
  width: 960px;
  height: 300px;
  margin: 0 auto;
}
#checkoutAll .checkoutContent .checkoutContentIn .shopList .goodsValue .goodThis {
  position: relative;
}
#checkoutAll .checkoutContent .checkoutContentIn .shopList .goodsValue .goodThis h1 {
  background-color: #FFF;
  font-family: "微软雅黑";
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 55px;
  padding-left: 20px;
  width: 955px;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 10px;
  border-bottom: 1px dashed #EAEAEA;
}
#checkoutAll .checkoutContent .checkoutContentIn .shopList .goodsValue .goodThis ul {
  width: 985px;
  height: 139px;
}
#checkoutAll .checkoutContent .checkoutContentIn .shopList .goodsValue .goodThis ul li {
  margin-top: 60px;
  height: 125px;
  float: left;
  border-bottom: 1px dashed #EAEAEA;
  text-align: center;
}
#checkoutAll .checkoutContent .information_bonus_total {
  width: 300px;
  height: 177px;
  float: right;
}
#checkoutAll .checkoutContent .information_bonus_total .submit {
  width: 157px;
  height: 36px;
  background: url(../images/cart_img.png) no-repeat -16px -410px;
  border: none;
  float: right;
  margin-top: 15px;
}
#checkoutAll .checkoutContent .information_bonus_total h3 {
  float: right;
  color: #C80A28;
  font-family: "Microsoft YaHei", Tahoma, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: 10px;
  text-align: right;
}
#checkoutAll .checkoutContent .information_bonus_total h3 span {
  color: #C80A28;
  font-family: "Microsoft YaHei", Tahoma, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 33px;
  vertical-align: -3px;
}
.songti {
  font-family: '宋体';
}
li {
  list-style: none;
}
.wrap_content {
  width: 990px;
  float: none;
  margin: 0 auto;
}
/**按钮**/
.cart_btn.btn13 {
  width: 157px;
  height: 36px;
  background-position: -16px -410px;
}
.cart_btn.btn13:active {
  width: 157px;
  height: 36px;
  background-position: -189px -410px;
}
/*用于flow.cart 以及 flow.checkout 代购商品提醒*/
.hddaigou_tips {
  position: relative;
  background-image: url(http://s.handuyishe.com/themes/handuyishe/images/img/daigou_tip.png);
  height: 35px;
  display: block;
  background-position: initial initial;
  background-repeat: initial initial;
}
.hddaigou_tips a {
  position: absolute;
  display: block;
  width: 66px;
  height: 20px;
  left: 400px;
  top: 9px;
}
/******************shopping_collection******************/
.shopping_collection {
  width: 1200px;
  background: #fcfcfc;
  border: #d9d8d8 1px solid;
  float: left;
  margin: 10px 0 0 0;
}
.shopping_collection .shopping_collection_title {
  background: #e3e2e2;
  width: 1200px;
  height: 36px;
  line-height: 36px;
  font-family: 'Microsoft YaHei';
  text-indent: 25px;
  font-size: 13px;
}
.shopping_collection_nr .Dapei_xinxi h2 {
  font-family: 'Microsoft YaHei';
  font-size: 14px;
  color: #393939;
  font-weight: normal;
  width: 280px;
}
.shopping_collection_nr .Dapei_xinxi .DapeiNum {
  margin: 0;
}
.shopping_collection_nr .Dapei_xinxi .Dapei_money {
  margin-top: 5px;
  width: 100%;
}
.shopping_collection_nr .Dapei_xinxi .Dapei_money .DapeiNum_Name {
  color: #7b7b7b;
  width: 50px;
  text-align: right;
  margin-top: 5px;
}
.shopping_collection_nr .Dapei_xinxi .Dapei_money span {
  font-size: 16px;
  font-family: 'Microsoft YaHei';
  color: #c80a28;
  margin-left: 5px;
}
/*************流程****************/
.process {
  width: 1100px;
  height: 31px;
  background: url(../images/img/steps.png) no-repeat;
  margin: 30px auto;
}
.process.step1 {
  background-position: -11px -8px;
}
.process.step2 {
  background-position: -11px -52px;
}
.process.step3 {
  background-position: -11px -97px;
}
.process.step4 {
  background-position: -11px -141px;
}
/*************地址****************/
.shopping_order_address {
  margin-top: 8px;
}
.shopping_order_address ul {
  margin: 0;
  padding: 0;
}
.shopping_order_address ul li {
  height: 35px;
  line-height: 30px;
  width: 1198px;
}
.shopping_order_address ul li .shopping_order_addressName {
  width: 100px;
  margin-left: 25px;
  float: left;
  font-family: 'Microsoft YaHei';
  font-size: 14px;
}
.shopping_order_address ul li .shopping_order_addressNr {
  float: left;
  color: #393939;
  font-family: 'Microsoft YaHei';
  font-size: 14px;
}
.shopping_order_address ul li .shopping_order_addressTelphone {
  float: left;
  margin-left: 5px;
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  color: #7b7b7b;
  line-height: 32px;
}
.shopping_order_address ul li .shopping_order_addressCaozuo {
  float: right;
}
.shopping_order_address ul li .shopping_order_addressCaozuo a {
  margin-right: 10px;
}
.shopping_order_address ul li .shopping_order_addressCaozuo a:hover {
  text-decoration: underline;
}
.shopping_order_address ul li.on {
  background: #000;
  height: 30px;
  line-height: 30px;
  width: 1198px;
}
.cart_header .cart_logo1 {
  background: url('../images/img/cart_img1.png') no-repeat 0 -4px;
  width: 167px;
  height: 57px;
  display: inline-block;
}
.shopping_order {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px auto;
  margin: 10px 0 0 0;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
  border: 1px solid #DDD;
  background: #FFF;
  color: #444;
  font: 12px 'Microsoft YaHei', Tahoma, Helvetica, Sans-Serif;
}
.shopping_order h2 {
  font-size: 16px;
}
.shopping_order.extended {
  padding: 20px;
  width: 1150px;
  border: 3px solid #c70a28;
}
.extended .cart_btn {
  margin: 10px;
}
.extended .shopping_order_title {
  background: 0;
}
.shopping_order h1,
.shopping_order h2 {
  float: left;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
}
.shopping_order h1 {
  font-size: 16px;
}
.shopping_order h2 {
  width: 95%;
  text-indent: 10px;
  font-size: 15px;
}
.shopping_order h2.selected {
  background: #FDEEF1;
}
/**address**/
#all_address {
  display: none;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
}
#all_address .all_address_title {
  line-height: 20px;
  text-indent: 20px;
  margin: 15px 0 0 0;
  width: 480px;
}
#all_address .all_address_title span.all_address_titletop {
  font-family: 'Microsoft YaHei';
  font-size: 16px;
  font-weight: bold;
}
#all_address .all_address_title span.all_address_titleClose {
  font-family: 'Microsoft YaHei';
  font-size: 14px;
  font-weight: bold;
  float: right;
  cursor: pointer;
}
#all_address ul {
  width: 100%;
  margin: 5px 0 0 0;
  height: auto;
  overflow: hidden;
  float: left;
}
/* #all_address ul li{ width:100%; float:left; height:auto; line-height:35px; margin:5px 0 0 0;} */
#all_address ul li .all_address_name {
  float: left;
  width: 115px;
  text-align: right;
}
#all_address ul li .all_address_select {
  margin: 2px 0 0 0;
}
#all_address ul li span {
  padding: 0 10px;
}
#all_address ul li a.edit {
  color: #1887E0;
  padding: 0 6px;
  visibility: hidden;
  cursor: pointer;
}
#all_address ul li.selected a.edit {
  visibility: visible;
}
#edit_address li {
  width: 100%;
  float: left;
  height: auto;
  line-height: 35px;
  margin: 5px 0 0 0;
}
.shopping_order_address li {
  background: url(http://s.handu.com/themes/handuyishe/images/unselect_address.png) no-repeat;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 237px;
  height: 106px;
  margin: 0 0 5px 5px;
  color: #666;
  cursor: pointer;
  line-height: 35px;
}
.shopping_order_address li.selected {
  background: url(http://s.handu.com/themes/handuyishe/images/select_address.png) no-repeat;
}
#newAddress {
  width: 100%;
  float: left;
  height: auto;
  line-height: 35px;
  margin: 5px 0 0 0;
  padding-left: 10px;
}
.all_address_select select {
  font-size: 12px;
  padding: 2px;
}
#all_address ul li input.all_address_txt00 {
  width: 314px;
  height: 26px;
  border: #7b7b7b 1px solid;
}
#all_address ul li input.all_address_txt {
  width: 193px;
  height: 26px;
  border: #7b7b7b 1px solid;
}
#all_address ul li.all_address_Btn {
  margin: 20px 0 0 110px;
}
#all_address ul li.all_address_Btn input.all_address_tijiao {
  background: url(../images/NEW_images/shopping_login.png) no-repeat -138px -295px;
  width: 64px;
  height: 26px;
  color: #fff;
  border: none;
}
#all_address ul li.all_address_Btn input.all_address_quxiao {
  background: url(../images/NEW_images/shopping_login.png) no-repeat -212px -295px;
  width: 64px;
  height: 26px;
  border: none;
}
#all_address ul li.all_address_Btn input.all_address_moren {
  background: url(../images/NEW_images/shopping_login.png) no-repeat -286px -295px;
  width: 92px;
  height: 26px;
  color: #fff;
  border: none;
}
#all_address a.default {
  margin-left: 20px;
  color: #C2102C;
  line-height: 50px;
}
/*******CONFIRM ORDER********/
.shopping_order_information {
  margin: 5px 20px 15px;
  float: left;
  width: 95%;
  height: auto;
  overflow: hidden;
}
.shopping_order_information .shopping_order_information_title {
  background: #EEEEEE;
  height: 30px;
  line-height: 30px;
  width: 100%;
  font-family: 'Microsoft YaHei';
}
.shopping_order_information .shopping_order_information_title span.information_title {
  display: block;
  float: left;
  width: 13%;
  text-align: center;
}
.shopping_order_information .shopping_order_information_title span.information_title00 {
  width: 34%;
  text-align: center;
}
.shopping_order_information .shopping_order_information_title div {
  float: left;
}
.shopping_order_information h3 {
  height: 35px;
  line-height: 40px;
  font-size: 14px;
  color: #333;
  font-family: '微软雅黑';
}
.shopping_order_information ul {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 940px;
  border-bottom: #d9d8d8 1px dashed;
}
.shopping_order_information ul .middle {
  padding-top: 45px;
}
.shopping_order_information_ul li {
  border-top: #d9d8d8 1px dashed;
  height: auto;
  float: left;
  width: 100%;
  font-family: 'Microsoft YaHei';
}
.shopping_order_information_ul li .information_pic {
  float: left;
  width: 122px;
  padding-bottom: 15px;
}
.shopping_order_information_ul li .information_pic img {
  width: 77px;
  height: auto;
  border: #ddd 1px solid;
  margin: 15px 0 0 25px;
}
.shopping_order_information_ul li .information_name {
  float: left;
  width: 34%;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.shopping_order_information_ul li .information_name span {
  color: #c80a28;
}
.shopping_order_information_ul li .information_xinxi {
  float: left;
  width: 13%;
}
.shopping_order_information_ul li .information_subtotal {
  float: left;
  width: 13%;
  font: 16px/110px;
  color: #c80a28;
}
.shopping_order_information_ul li .cprice {
  padding-top: 40px;
}
.shopping_order_information_ul li .cprice del {
  color: #999;
}
/****返利***/
.information_bonus {
  width: 100%;
  float: left;
  margin-top: 20px;
}
.information_bonus .information_bonusLeft {
  margin-left: 26px;
  float: left;
  width: 400px;
}
.information_bonus .information_bonusLeft span.information_bonusName {
  float: left;
  line-height: 20px;
}
.information_bonus .information_bonusRight {
  float: right;
  margin-right: 40px;
  width: 630px;
}
.information_bonus .information_bonusRight span.information_bonusName {
  line-height: 20px;
  float: left;
}
.information_bonus .information_bonusRight select {
  line-height: 20px;
  float: left;
}
.information_bonus .information_bonusRight input.bonusRight_txt {
  line-height: 18px;
  float: left;
  width: 88px;
  height: 18px;
}
/**配送方式**/
#PaymentSelect {
  width: 400px;
}
.information {
  width: 100%;
}
.information_peisong {
  float: right;
  margin: 20px 40px 0px 0;
}
.information_peisong span.information_bonusName {
  line-height: 20px;
  float: left;
}
/**支付方式**/
.information_buy {
  line-height: 32px;
  margin: 10px 40px 10px 0;
}
.information_buy span.information_bonusName {
  line-height: 32px;
  float: left;
}
.information_buy a {
  line-height: 32px;
  color: #c80a28;
}
.information_buy a:hover {
  color: #c80a28;
  border-bottom: #c80a28 1px solid;
}
/**支付**/
ul.order_buy {
  float: right;
  margin: 10px 10px 0 0;
  text-align: right;
}
ul.order_buy li {
  margin: 5px 0 0 0;
  width: 100%;
  font-family: 'Microsoft YaHei';
  width: 1100px;
}
ul.order_buy li.order_money {
  color: #bf0000;
  font-size: 14px;
}
ul.order_buy li.order_youhui {
  font-size: 12px;
}
.shopping_order_pay {
  font-family: 'Microsoft YaHei';
  color: #393939;
  margin: 0 0 20px 0;
}
.shopping_order_pay .shopping_order_pay01 {
  margin: 15px 0 0 25px;
  width: 100%;
  float: left;
  font-size: 14px;
}
.shopping_order_pay .shopping_order_payName {
  margin: 15px 0 0 25px;
  width: 100%;
  float: left;
  font-size: 14px;
}
.shopping_order_pay .shopping_order_pay02 {
  margin: 5px 0 0 30px;
  width: 970px;
  float: left;
  font-size: 14px;
}
.shopping_order_pay .shopping_order_pay02 img {
  float: left;
  margin: 0 10px;
  cursor: pointer;
}
.shopping_order_pay .shopping_order_pay02 input {
  float: left;
  margin: 10px 3px 0 0;
}
.shopping_order_pay .shopping_order_pay02 .shopping_order_pay002 {
  margin: 10px 0 0 25px;
  width: 100%;
  float: left;
  font-size: 14px;
}
.shopping_order_pay .shopping_order_pay02 ul.shopping_order_pay0002 {
  width: 90%;
  float: left;
  font-size: 14px;
  padding: 10px 0;
}
.shopping_order_pay .shopping_order_pay02 ul.shopping_order_pay0002 li {
  float: left;
  margin: 15px 0 0 10px;
  line-height: 35px;
}
.shopping_order_pay .shopping_order_pay02 ul.shopping_order_pay0002 li input {
  margin-top: 10px;
}
.pink_tips {
  padding-left: 10px;
  width: 99.2%;
  height: 30px;
  background: #feeff2;
  font-size: 12px;
  line-height: 30px;
  position: relative;
}
.shopping_order_delivery {
  width: 970px;
  float: left;
  margin-left: 30px;
}
.express_list {
  width: 90%;
  height: auto;
  margin-bottom: 20px;
}
.express_list th {
  padding: 10px;
  border: 0;
  text-indent: 20px;
}
.express_list tr {
  height: 36px;
}
.express_list td {
  padding: 5px 15px;
  height: 26px;
}
.express_list select,
.express_list select {
  display: none;
  padding: 4px;
  font-size: 100%;
  height: auto;
}
.selected {
  background: #fdeef1;
}
.selected select {
  display: block;
}
.shopping_order1 {
  box-shadow: 0 35px 50px rgba(0, 0, 0, 0.2);
}
.deleted > li {
  float: left;
  padding: 4px 0;
  width: 100%;
  border-bottom: solid 1px #ddd;
}
.deleted .deleted_ul img {
  width: 50px;
  border: 1px solid #EEE;
}
.deleted .deleted_ul p {
  height: 24px;
  line-height: 24px;
}
.deleted .deleted_ul span {
  padding-right: 10px;
}
.confirm_list > li {
  float: left;
  padding: 10px 0;
  width: 99.5%;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 4px;
}
.confirm_list > li h2 {
  width: 100%;
  font-size: 15px;
}
.confirm_list > li h2 span {
  padding-left: 20px;
  color: #c70a28;
  font-size: 13px;
  cursor: pointer;
}
.confirm_list > li p {
  float: left;
  margin-left: 60px;
  width: 80%;
  height: 30px;
  font-family: '宋体';
  line-height: 26px;
}
.shopping_order_bill {
  width: 970px;
  float: left;
  margin-left: 30px;
}
.manjian {
  float: left;
  display: block;
  margin: 3px 8px;
  width: 44px;
  height: 24px;
  background: url('../images/img/cart_img.png') no-repeat -16px -283px;
}
.shopping_order_title {
  width: 100%;
  height: 35px;
  background: #d8d7d7;
  text-indent: 15px;
  font-size: 16px;
  line-height: 35px;
  position: relative;
}
.shopping_order_title span {
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
}
.shopping_order_title a {
  float: left;
  display: block;
  width: 140px;
  height: 26px;
  background: #8a8a8a;
  color: #FFF;
  text-align: center;
  text-indent: 0;
  font-size: 14px;
  line-height: 26px;
}
.shopping_order_title a.current {
  background: #FFF;
  color: #8a8a8a;
}
.shopping_order_title a:hover {
  text-decoration: none;
}
.order_ps {
  margin: 5px 50px 20px 50px;
}
.order_ps > dl > dt {
  float: left;
  padding-top: 5px;
  width: 60px;
}
.order_ps > dl > dd {
  float: left;
}
#postscript {
  width: 300px;
  height: 85px;
  border: 1px solid #CCC;
  color: #999;
}
.accumulated {
  margin: 10px 0;
}
.accumulated2 {
  margin-right: 50px;
}
.td_fr {
  text-align: right;
  line-height: 20px;
}
.accumulated table td.td2 {
  width: 90px;
}
#order_totalPrice {
  padding-left: 30px;
}
.information_bonus {
  margin: 0 0 5px 30px;
  width: 95%;
  height: auto;
}
.information_bonus_title {
  width: 100%;
  height: 20px;
  cursor: pointer;
}
.bonus_btn_bg {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url('../images/img/cart_img.png') no-repeat;
}
.bonus_btn_bg.btn1 {
  background-position: -414px -294px;
}
.bonus_btn_bg.btn2 {
  background-position: -435px -294px;
}
.information_bonus_content {
  display: none;
  overflow: hidden;
  width: 100%;
  height: auto;
  border: solid 1px #ebb4c0;
  background: #fdeff2;
}
.information_bonus_content .trigger {
  float: right;
  margin: -23px 13px;
  text-decoration: none;
  cursor: pointer;
  display: none;
}
.yhq_redk {
  width: 5px;
  height: 5px;
  background: #c80a28;
  float: left;
  display: block;
  margin: 5px 0 10px 10px;
}
.ckb_bonus {
  margin-left: 5px;
}
.information_bonus_pay {
  height: 167px;
  width: 40%;
  float: right;
  padding-top: 10px;
  color: #bf0000;
  text-align: right;
  font-weight: bold;
}
.information_bonus_pay span {
  font-size: 25px;
}
.information_bonus_total {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #c80a28;
  float: right;
  width: 100%;
}
.information_bonus .grey {
  color: #9a9a9a;
}
.warm_tip {
  margin-bottom: -8px;
  width: 429px;
  height: 28px;
  background: url(../images/img/warm.png) no-repeat;
  text-indent: 7px;
  font-family: '宋体';
  line-height: 25px;
}
.warm_tip2 {
  margin-bottom: -8px;
  width: 470px;
  height: 28px;
  background: url(../images/img/warm21.png) no-repeat;
  text-indent: 15px;
  font-family: '宋体';
  line-height: 25px;
  color: #c80a28;
}
.warm_tip em {
  color: #fe0032;
}
em.star {
  padding-right: 4px;
  color: #f03;
  vertical-align: middle;
  font-size: 14px;
} /*# sourceMappingURL=checkout.css.map */
/*# sourceMappingURL=checkout.css.map */
